{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section" style="border-radius: 10pt; text-align: center; ">
        <h3 style= "font-weight: bold; font-size: 18pt;">
            <p><span style="color:  rgb(0, 0, 0);">Ayok </span> Made By</p>

            <img class="rounded-circle" src="/syrupicon.png" alt="photo" width="120" height="113"><br> <br>
            <p><span style="color:  rgb(29, 30, 58);"><a href="https://www.linkedin.com/in/muhammad-shahriyar-hussain-045993123/">Mohammad Shahriyar Hossain</a></span></p>
        </h3>
        <p style="font-size: 16pt;">
            Learn More About Me
        </p>
        <p class="border-bottom border-secondary" style="padding-bottom: 3pt;">
            <span style="color:  rgb(36, 54, 59);"><a href="https://github.com/ShahriyarHussain">GitHub Profile</a></span> |
            <span style="color:  rgb(36, 54, 59);"><a href="https://github.com/0l0sh-n3twork">Group Projects</a></span> |
            <span style="color:  rgb(36, 54, 59);"><a href="https://stackoverflow.com/users/10148061/shahriyarhossain">Stack Overflow Profile</a></span>
        </p>
        <span style="color:  rgb(36, 54, 59); font-size: 15pt;"><a href="{% url 'feedback'%}">Send Feedback</a></span>
    </div>
{% endblock content %}
